/* Resetting some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/* Navbar Styling */
nav {
    background-color: rgb(86, 179, 148);
    padding: 0px 20px;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: solid;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffc107;
}

nav img {
    height: 50px;
    width: auto;
}

/* Categories Section Styling */
.index-categories {
    margin-top: 40px;
    text-align: center;
}

.index-categories h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
}

.index-categories-list {
    display: flex;
    justify-content: space-around;
}

.index-categories-list div {
    background-color: #96c0eb;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    transition: all 0.3s ease-in-out;
}

.index-categories-list div:hover {
    transform: scale(1.05);
}

.index-categories-list h3 {
    font-size: 22px;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .index-categories-list {
        flex-direction: column;
        align-items: center;
    }

    .index-categories-list div {
        width: 80%;
        margin-bottom: 20px;
    }
}

.message {
    margin-top: 20px;
    text-align: center;
    color: red;
}


.message p {
    font-size: 16px;
    font-weight: bold;
}